*.ipynb
!get_data_train_model_newsgroup.ipynb
!get_data_train_model_imdb.ipynb
!get_metric_ood_imdb.ipynb
!get_metric_ood_newsgroup.ipynb

*.egg-info
*.txt
!requirements.txt

*.DS_Store

data
__pycache__